<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->

  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" (click)="getInf()">Link</a>-->
      <!--</li>-->
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  <!--</div>-->
<!--</nav>-->
<app-header></app-header>

<div class="content">

  <div class="input-group m-x-3 p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
           [(ngModel)]="username">
  </div>
  <div class="input-group m-x-3 p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >email</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
           [(ngModel)]="email">
  </div>
  <div class="input-group m-x-3 p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >text</span>
    </div>
    <textarea class="form-control" rows="5" [(ngModel)]="text"> </textarea>
  </div>
  <div class="input-group mb-3 p-3">
    <input type="file" class="form-control"
           [imageToDataUrl]="options"
           (imageSelected)="selected($event)"
           id="file">
  </div>
  <img [src]="src" *ngIf="src"><br>
  <button class="btn btn-primary m-y-3" (click)="create()">create</button>
</div>
<hr>

<app-tasks></app-tasks>
