<div class="row justify-content-between">
  <div class="col-sm"></div>
  <div class="col-12 col-md-4">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>


<div class="row col-12 col-md-4 justify-content-center">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="sorteType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort type
    </button>
    <div class="dropdown-menu" aria-labelledby="sorteType">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="sorteBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </button>
    <div class="dropdown-menu" aria-labelledby="sorteBy">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

  </div>
</div>

