<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" ngClass="{{curentPage <= 1 ? 'disabled' : '' }}">
      <a class="page-link"  (click)="prevPage()">Previous</a>
    </li>
    <li class="page-item"
        (click)="setPage(page)"
        *ngFor="let page of pager"
    ngClass="{{page === curentPage ? 'active' : ''}}"><a class="page-link" >{{page}}</a></li>
    <li class="page-item" ngClass="{{curentPage >= pages ? 'disabled' : '' }}">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>
